#app{
    width: 100%;
    height: 100vh;
    background-image: url("../pic/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.inputBox{
    margin: auto;
    margin-top: 20px;
}

.ghost:hover{
    border: 1px solid gray;
    cursor: pointer;
}

.checkGhost{
    border: 1px solid skyblue !important;
}